nonebot2[fastapi]
nonebot-adapter-onebot
httpx>=0.27.0
python-multipart>=0.0.9
PyYAML>=6.0.1,<7
python-dotenv>=1.0.1
cryptography>=44.0.0,<47
yt-dlp>=2025.2.19
imageio-ffmpeg>=0.6.0
bilix>=0.18.9
bilibili-api-python>=17.0.0
f2>=0.0.1.6,<0.0.1.8
rookiepy>=0.5.0
websockets>=12.0
pilk>=0.2.4
opencc-python-reimplemented>=0.1.7
